@media screen and (min-width: 1025px) {
    :root {
        /* possible color to use later #F2F2F2 */
        --normal-text: sans-serif;
        --accent-color: coral;
        --dark-color: rgba(0, 0, 0, 0.822);
        --header-height: 80px;
        --header-grid: 
                "icon title"
                "icon input submit unit";
        --grid-width: 800px;
        --city-width: 500px;
        --city-col: 2/5;
        --city-row: 5/9;
        --submit-col: 7/8;
        --submit-row: 6/10;
        --unit-col: 8/9;
        --unit-row: 6/10;
        --button-height: 75%;
        --icon-col: 1/2;
        --icon-row: 1/10;
        --icon-justify: center;
        --lcity-width: 420px;

        --today-gc: 0/1;
        --today-gr: 4/8;
        --today-gta: 
            'date'
            'cityState'
            'weatherPic temp'
            'summary'
            'windD'
            'humidity';
        --hourly-gc: 0/1;
        --hourly-gr: 8/12;
        --hourly-gtc: repeat(auto-fit, 25%);
            --hour-width: 200px;
            --hourly-gta: "hour";        
        --forecast-gc: 0/1;
        --forecast-gr: 13/19;
        --footer-gc: 0/1;
        --footer-gr: 20/21;
    }
}

@media screen and (max-width: 1025px) {
    :root {
        --normal-text: sans-serif;
        --dark-color: rgba(0, 0, 0, 0.822);
        --accent-color: coral;
        --header-height: 80px;
        --header-grid: 
                "icon title"
                "icon input submit unit";
        --grid-width: 700px;
        --city-width: 500px;
        --city-col: 2/9;
        --city-row: 5/9;
        --submit-col: 7/8;
        --submit-row: 6/10;
        --unit-col: 8/9;
        --unit-row: 6/10;
        --button-height: 75%;
        --icon-col: 1/3;
        --icon-row: 1/10;
        --icon-justify: start;
        --lcity-width: 320px;

        --today-gc: 0/1;
        --today-gr: 4/9;
        --today-gta: 
            'date'
            'cityState'
            'weatherPic temp'
            'summary'
            'windD'
            'humidity';
        --hourly-gc: 0/1;
        --hourly-gr: 9/13;
        --hourly-gtc: repeat(auto-fit, 25%);
            --hour-width: 175px;
            --hourly-gta: "hour";
        --forecast-gc: 0/1;
        --forecast-gr: 14/19;
        --footer-gc: 0/1;
        --footer-gr: 20/21;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --normal-text: sans-serif;
        --dark-color: rgba(0, 0, 0, 0.822);
        --accent-color: coral;
        --header-height: 80px;
        --header-grid: 
                "icon title"
                "icon input submit unit";
        --grid-width: 500px;
        --city-width: 400px;
        --city-col: 3/9;
        --city-row: 5/9;
        --submit-col: 5/7;
        --submit-row: 9/10;
        --unit-col: 7/9;
        --unit-row: 9/10;
        --button-height: 100%;
        --icon-col: 1/3;
        --icon-row: 1/10;
        --icon-justify: start;
        --lcity-width: 320px;

        --today-gc: 0/1;
        --today-gr: 4/8;
        --today-gta: 
            'date'
            'cityState'
            'weatherPic temp'
            'summary'
            'windD'
            'humidity';
        --hourly-gc: 0/1;
        --hourly-gr: 8/13;
        --hourly-gtc: repeat(auto-fit, 25%);
        --hour-width: 125px;
        --hourly-gta: "hour";
        --forecast-gc: 0/1;
        --forecast-gr: 14/19;
        --footer-gc: 0/1;
        --footer-gr: 20/21;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --normal-text: sans-serif;
        --dark-color: rgba(0, 0, 0, 0.822);
        --accent-color: coral;
        --header-height: 80px;
        --header-grid: 
                "icon title"
                "icon input"
                "icon submit unit";
        --grid-width: 400px;
        --city-width: 250px;
        --city-col: 3/10;
        --city-row: 5/9;
        --submit-col: 5/7;
        --submit-row: 9/10;
        --unit-col: 7/9;
        --unit-row: 9/10;
        --button-height: 100%;
        --icon-col: 1/3;
        --icon-row: 1/10;
        --icon-justify: center;
        --lcity-width: 220px;

        --today-gc: 0/1;
        --today-gr: 4/10;
        --today-gta: 
            'date'
            'cityState'
            'weatherPic temp'
            'summary'
            'windD'
            'humidity';
        --hourly-gc: 0/1;
        --hourly-gr: 10/13;
        --hourly-gtc: repeat(auto-fit, 33%);
            --hour-width: 133px;
            --hourly-gta: "hour";
        --forecast-gc: 0/1;
        --forecast-gr: 14/19;
        --footer-gc: 0/1;
        --footer-gr: 20/21;
    }
}

@media screen and (max-width: 450px) {
:root {
    --normal-text: sans-serif;
        --dark-color: rgba(0, 0, 0, 0.822);
        --accent-color: coral;
        --header-height: 80px;
        --header-grid: 
                "icon title"
                "icon input"
                "icon submit unit";
        --grid-width: 300px;
        --city-width: 250px;
        --city-col: 3/10;
        --city-row: 5/9;
        --submit-col: 5/7;
        --submit-row: 9/10;
        --unit-col: 7/9;
        --unit-row: 9/10;
        --button-height: 100%;
        --icon-col: 1/3;
        --icon-row: 1/10;
        --icon-justify: center;
        --lcity-width: 220px;

        --today-gc: 0/1;
        --today-gr: 4/10;
        --today-gta: 
            'date'
            'cityState'
            'weatherPic temp'
            'summary'
            'windD'
            'humidity';
        --hourly-gc: 0/1;
        --hourly-gr: 10/13;
        --hourly-gtc: repeat(auto-fit, 33%);
            --hour-width: 100px;
            --hourly-gta: "hour";
        --forecast-gc: 0/1;
        --forecast-gr: 14/19;
        --footer-gc: 0/1;
        --footer-gr: 20/21;
    }
}

body {
    display: grid;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100%;
    min-width: 300px;
    background-color: white;
    grid-template-columns: 100%;
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas: 
            "header"
            "input"
            "current"
            "hourly"
            "forecast"
            "footer";
    justify-content: center;
}

.header {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: var(--header-grid);
    grid-area: "header";
    background-color: var(--dark-color);
    grid-column: 0/1;
    grid-row: 0/1;
    width: 100%;
    height: var(--header-height);
}

.appIcon {
    grid-area: "icon";
    grid-column: var(--icon-col);
    grid-row: var(--icon-row);
    width: 90px;
    height: 40px;
    justify-self: var(--icon-justify);
    align-self: center;
    margin-left: 25px;
    float: left;
}

.input {
    grid-area: "input";
    display: flex;
    background-color: whitesmoke;
    grid-column: 0/1;
    grid-row: 2/4;
    height: 45%;
    width: 100%;
    justify-content: center;
}

.city {
    grid-area: "input";
    grid-column: var(--city-col);
    grid-row: var(--city-row);
    height: 100%;
    width: var(--city-width);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    text-indent: 5px;
    color: var(--accent-color);
    font-weight: 300;
    margin-left: 10%;

}

.city::placeholder {
    color: var(--accent-color);
    
}

.city:focus {
    outline: 1px solid var(--accent-color);
    border: 1px solid var(--accent-color);
}

button {
    width: 80px;
    height: var(--button-height);
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.lowerCity {
    height: 38%;
    width: var(--lcity-width);
    align-self: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid transparent;
    text-indent: 5px;
}

.lowerCity::placeholder {
    opacity: .2;
}

.lowerCity:focus {
    outline: 1px solid var(--accent-color);
    border: 1px solid var(--accent-color)
}

.submit {
    align-self: center;
    height: 46%;
    width: min(15%, 70px);
    margin-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: transparent;
    border: 0px solid transparent;
    background-color: var(--accent-color);
    color: white;
}

.unit {
    align-self: center;
    height: 46%;
    border-radius: 3px;
    border: 0px solid transparent;
    color: white;
    background-color: var(--accent-color);
    width: min(15%, 70px);
}

.today {
    display: grid;
    grid-template-areas: 
    "date" 
    "cityState"
    "weatherPic temp" 
    "summary"
    "windD"
    "humidity";
    grid-column: var(--today-gc);
    grid-row: var(--today-gr);
    width: var(--grid-width);
    justify-self: center;
}

.hourly {
    display: grid;
    grid-gap: 2px;
    padding: 5px;
    grid-template-areas: var(--hourly-gta);
    grid-template-rows: 95%;
    grid-template-columns: var(--hourly-gtc);
    justify-self: center;
    align-content: center;
    grid-column: var(--hourly-gc);
    grid-row: var(--hourly-gr);
    background-color: #f2f2f2;
    width: var(--grid-width);
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

    .hour {
        grid-row: 1/2;
        grid-area: "hour";
        display: grid;
        grid-template-areas: 
        "pic temp"
        "rainPic rain"
        "humid"
        "day"
        "time";
        grid-template-rows: repeat(5, 20%);
        grid-template-columns: repeat(4, 25%);
        grid-template-areas: var(--hour-grid);
        width: var(--hour-width);
        font-family: var(--normal-text);    
    }

        .hourPic {
            grid-area: "pic";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            font-family: var(--normal-text);    
            justify-content: right;
            align-items: center;
            grid-row: 0/1;
            grid-column: 1/3;
        }

        .hourTemp {
            grid-area: "temp";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 0/1;
            grid-column: 3/5;
            text-align-last: left;
            align-items: center;
        }

        .rainPic {
            grid-area: "rainPic";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 2/3;
            grid-column: 1/3;
            justify-content: end;
            align-items: center;
        }

        .hourRain {
            grid-area: "rain";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 2/3;
            grid-column: 3/5;
            text-align: left;
            align-items: center;
        }

        .hourHumidity {
            grid-area: "humid";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 3/4;
            grid-column: 1/5;
            text-align: center;
            align-content: center
        }

        .hourDay {
            grid-area: "day";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 4/5;
            grid-column: 1/5;
            text-align: center;
            align-items: end;
        }

        .hourTime {
            grid-area: "time";
            display: grid;
            background-color: white;
            color: var(--dark-color);  
            grid-row: 5/6;
            grid-column: 1/5;
            text-align: center;
        }

    .date {
        display: grid;
        justify-content: center;
        align-items: flex-end;
        grid-area: "date";
        font-weight: 300;
        font-family: var(--normal-text);
    }

    .cityState {
        grid-area: "cityState";
        display: grid;
        justify-content: center;
        align-items: flex-end;
        font-weight: 300;
        font-family: var(--normal-text);
        
    }

    .weatherPic {
        grid-area: "weatherPic";
        display: grid;
        justify-content: center;
        align-items: flex-end;
        font-weight: 300;
        font-family: var(--normal-text);    
    }

    .temp {
        grid-area: "temp";
        display: grid;
        justify-content: center;
        align-items: flex-end;
        font-weight: 100;
        font-size: 70px;
        font-family: var(--normal-text);
    }

    .summary {
        grid-area: "summary";
        display: grid;
        justify-content: center;
        align-items: start;
        font-style: bold !important;
        font-family: var(--normal-text);
    }


    .windD {
        grid-area: "windD";
        display: grid;
        justify-content: center;
        align-items: flex-end;
        font-weight: 300;
        font-family: var(--normal-text);
    }

    .humidity {
        grid-area: "humidity";
        display: grid;
        justify-content: center;
        align-items: start;
        font-weight: 300;
        font-family: var(--normal-text);
    }

.forecast {
    justify-self: center;
    grid-column: var(--forecast-gc);
    grid-row: var(--forecast-gr);
    background-color: whitesmoke;
    width: var(--grid-width);
}

.footer {
    grid-column: var(--footer-gc);
    grid-row: var(--footer-gr);
    background-color: var(--dark-color);
}